venv/
storage/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
intrv-sim/
venv/
.env

# OS
.DS_Store
Thumbs.db

# Runtime data (VERY IMPORTANT)
storage/
*.log

# IDE
.vscode/
.idea/
