
fastapi
uvicorn[standard]
python-multipart
transformers
sentence-transformers
opencv-python
mediapipe
torch
torchaudio
ffmpeg-python
gradio
pydantic
python-dotenv
gunicorn
pytest
pillow
pdf2image
pytesseract
datasets
soundfile
jiwer
numpy
scikit-learn
