# -----------------------------
# Testing
# -----------------------------
pytest

# -----------------------------
# Server / Deployment
# -----------------------------
gunicorn

# -----------------------------
# Experimentation / Demos
# -----------------------------
gradio
datasets

# -----------------------------
# Code Quality
# -----------------------------
black
isort
mypy
